{#
/**
 * @file
 * Implementing a default theme for guestbook page.
 *
 * Available variables:
 * - feedback_list: Themed feedback list.
 * - form: Form for adding feedbacks.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('guestbook_entity/guestbook') }}

<div class="guestbook">
  <div class="guestbook__left-col">
    {{ feedback_list }}
  </div>
  <div class="guestbook__right-col">
    {{ form }}
  </div>
</div>
